*Author:*  
**Ella Pournezhad**  
  
*Description:*   
**Correlation calculations has been done in this code.**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Loading Data

In [2]:
file_path1 = "AP data - Final.csv"
file_path2 = "Health data - Final.csv"

**Loading Air pollution data** with its levels:

In [3]:
df_ap = pd.read_csv(file_path1, header=[0, 1], index_col=0)

# Protecting levels
df_ap.reset_index(drop = True, inplace=True)
df_ap.columns = df_ap.columns.set_levels(['', 'max', 'mean', 'min'], level=1)

df_ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 46 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   (Date, )                                            104 non-null    object
 1   (Ozone, mean)                                       103 non-null    float64
 2   (Ozone, min)                                        103 non-null    float64
 3   (Ozone, max)                                        103 non-null    float64
 4   (Nitric oxide, mean)                                104 non-null    float64
 5   (Nitric oxide, min)                                 104 non-null    float64
 6   (Nitric oxide, max)                                 104 non-null    float64
 7   (Nitrogen dioxide, mean)                            104 non-null    float64
 8   (Nitrogen dioxide, min)                             104 non-null    float64
 9   (Nitrogen dioxide, max)                             104 non-null    float64
 10  (Nitrogen oxides as nitrogen dioxide, mean)         104 non-null    float64
 11  (Nitrogen oxides as nitrogen dioxide, min)          104 non-null    float64
 12  (Nitrogen oxides as nitrogen dioxide, max)          104 non-null    float64
 13  (Sulphur dioxide, mean)                             0 non-null      float64
 14  (Sulphur dioxide, min)                              0 non-null      float64
 15  (Sulphur dioxide, max)                              0 non-null      float64
 16  (Carbon monoxide, mean)                             0 non-null      float64
 17  (Carbon monoxide, min)                              0 non-null      float64
 18  (Carbon monoxide, max)                              0 non-null      float64
 19  (PM10 particulate matter (Hourly measured), mean)   104 non-null    float64
 20  (PM10 particulate matter (Hourly measured), min)    104 non-null    float64
 21  (PM10 particulate matter (Hourly measured), max)    104 non-null    float64
 22  (Non-volatile PM10 (Hourly measured), mean)         49 non-null     float64
 23  (Non-volatile PM10 (Hourly measured), min)          49 non-null     float64
 24  (Non-volatile PM10 (Hourly measured), max)          49 non-null     float64
 25  (Volatile PM10 (Hourly measured), mean)             49 non-null     float64
 26  (Volatile PM10 (Hourly measured), min)              49 non-null     float64
 27  (Volatile PM10 (Hourly measured), max)              49 non-null     float64
 28  (PM2.5 particulate matter (Hourly measured), mean)  102 non-null    float64
 29  (PM2.5 particulate matter (Hourly measured), min)   102 non-null    float64
 30  (PM2.5 particulate matter (Hourly measured), max)   102 non-null    float64
 31  (Non-volatile PM2.5 (Hourly measured), mean)        49 non-null     float64
 32  (Non-volatile PM2.5 (Hourly measured), min)         49 non-null     float64
 33  (Non-volatile PM2.5 (Hourly measured), max)         49 non-null     float64
 34  (Volatile PM2.5 (Hourly measured), mean)            49 non-null     float64
 35  (Volatile PM2.5 (Hourly measured), min)             49 non-null     float64
 36  (Volatile PM2.5 (Hourly measured), max)             49 non-null     float64
 37  (Modelled Wind Direction, mean)                     65 non-null     float64
 38  (Modelled Wind Direction, min)                      65 non-null     float64
 39  (Modelled Wind Direction, max)                      65 non-null     float64
 40  (Modelled Wind Speed, mean)                         65 non-null     float64
 41  (Modelled Wind Speed, min)                          65 non-null     float64
 42  (Modelled Wind Speed, max)                          65 non-null     float64
 43  (Modelled Temperature, mean)                        65 non-null     float64
 44  (Modelled Temperature, min)                         65 non-null     float64
 45  (Modelled Temperature, max)                         65 non-null     float64
dtypes: float64(45), object(1)
memory usage: 37.5+ KB

In [4]:
df_ap

           Date      Ozone                     Nitric oxide           \
                      mean      min        max         mean      min
0    2015-06-01  57.600437  0.44903   96.69167     2.881438  0.23408
1    2015-07-01  54.258891  1.29721  132.86373     3.758570  0.33303
2    2015-08-01  45.790808  0.04989  117.44695     4.971742  0.27940
3    2015-09-01  38.842182  0.34925  113.15619     7.644233  0.25039
4    2015-10-01  37.442629  1.04774   92.15145    10.643539  0.21412
..          ...        ...      ...        ...          ...      ...
99   2023-09-01  49.326983  0.29936   92.80005     5.902583  0.00000
100  2023-10-01  51.707487  1.26394  149.12868     8.566071  0.00000
101  2023-11-01  39.759727  1.29721   88.16005    11.096945  0.06547
102  2023-12-01  42.407416  0.79828   81.87359    16.830495  0.09991
103  2024-01-01  48.790267  1.29721   85.74858    12.378710  0.00000

               Nitrogen dioxide                     ...  \
           max             mean      min       max  ...
0     49.08874        14.341146  2.59208  53.90238  ...
1     31.60970        18.609667  3.29428  65.20908  ...
2     83.18275        19.439237  2.37724  67.51444  ...
3    160.00021        23.763397  2.11857  76.36039  ...
4    195.30379        26.937149  3.62546  76.13376  ...
..         ...              ...      ...       ...  ...
99   137.97762        13.753142  0.37835  57.65769  ...
100  187.28039        22.713426  0.15162  84.56053  ...
101  129.38851        22.749615  1.75219  64.05096  ...
102  218.24185        23.792764  0.26643  76.18815  ...
103  292.22351        20.647389  0.00896  76.55475  ...

    Volatile PM2.5 (Hourly measured) Modelled Wind Direction              \
                                 max                    mean  min    max
0                                8.2                     NaN  NaN    NaN
1                               14.7                     NaN  NaN    NaN
2                                7.2                     NaN  NaN    NaN
3                                9.1                     NaN  NaN    NaN
4                               10.9                     NaN  NaN    NaN
..                               ...                     ...  ...    ...
99                               NaN              240.257104  2.7  356.9
100                              NaN              180.489784  0.5  355.9
101                              NaN              194.141272  0.7  359.3
102                              NaN              224.572500  0.1  359.5
103                              NaN              224.633063  0.5  359.6

    Modelled Wind Speed            Modelled Temperature
                   mean  min   max                 mean  min   max
0                   NaN  NaN   NaN                  NaN  NaN   NaN
1                   NaN  NaN   NaN                  NaN  NaN   NaN
2                   NaN  NaN   NaN                  NaN  NaN   NaN
3                   NaN  NaN   NaN                  NaN  NaN   NaN
4                   NaN  NaN   NaN                  NaN  NaN   NaN
..                  ...  ...   ...                  ...  ...   ...
99             4.091530  0.1  10.4            15.172268  8.1  24.1
100            3.947482  0.2  11.0            15.610791  6.8  26.7
101            4.681326  0.2  12.7            11.571313  3.1  21.0
102            5.519306  0.0  15.7             7.421111 -1.8  13.6
103            6.668556  0.0  14.7             6.754251 -3.7  12.1

[104 rows x 46 columns]

**Loading Health Data**

In [5]:
df_health = pd.read_csv(file_path2)
df_health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        104 non-null    object
 1   Total Emergency Admissions  104 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [6]:
df_health

           Date  Total Emergency Admissions
0    2015-06-01                        6850
1    2015-07-01                        6960
2    2015-08-01                        6623
3    2015-09-01                        6868
4    2015-10-01                        7043
..          ...                         ...
99   2023-09-01                       10794
100  2023-10-01                       11465
101  2023-11-01                       11548
102  2023-12-01                       11294
103  2024-01-01                       12099

[104 rows x 2 columns]

# Processing

In [7]:
dates = df_ap[('Date','')].unique()
dates

array(['2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
       '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
       '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
       '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
       '2016-10-01', '2016-11-01', '2016-12-01', '2017-01-01',
       '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01',
       '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01',
       '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01',
       '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01',
       '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01',
       '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01',
       '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01',
       '2019-06-01', '2019-07-01', '2019-08-01', '2019-09-01',
       '2019-10-01', '2019-11-01', '2019-12-01', '2020-01-01',
       '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01',
       '2020-06-01', '2020-07-01', '2020-08-01', '2020-09-01',
       '2020-10-01', '2020-11-01', '2020-12-01', '2021-01-01',
       '2021-02-01', '2021-03-01', '2021-04-01', '2021-05-01',
       '2021-06-01', '2021-07-01', '2021-08-01', '2021-09-01',
       '2021-10-01', '2021-11-01', '2021-12-01', '2022-01-01',
       '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01',
       '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01',
       '2022-10-01', '2022-11-01', '2022-12-01', '2023-01-01',
       '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01',
       '2023-06-01', '2023-07-01', '2023-08-01', '2023-09-01',
       '2023-10-01', '2023-11-01', '2023-12-01', '2024-01-01'],
      dtype=object)